$color-primario: rgb(54, 86, 194);
$color-secundario: #6B6;
$color-texto: rgb(192, 87, 87);
$color-contenido-xs :rgb(132, 163, 47);
$color-contenido-sm :rgb(209, 30, 135);
$color-contenido-md :rgb(209, 87, 16);
$color-contenido-lg :rgb(30, 201, 130);

$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;

$largo:50px;