// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// @import "../node_modules/bootstrap/scss/bootstrap";

@import "../libs/bootstrap/scss/bootstrap";

// Then add additional custom code here

@import "otros/variables";
@import "otros/mixins";

h1 {
    background-color: $color-primario;
    color: $color-secundario;
    font-family: $tipografia-alternativa;
    font-size: $fuente-grande;
    padding: $espaciado-estandar;
    text-transform: uppercase;
    border-radius: 12px;
}

@include media-breakpoint-up(xs) { 
  .cont1 {
    @include contenido-largo(1);
    background-color: $color-contenido-xs;
  }
 }
 @include media-breakpoint-up(xs) { 
  .cont3 {
    @include contenido-largo(1);
    background-color:rgb(41, 172, 74);
  }
 }
 @include media-breakpoint-up(xs) { 
  .cont5 {
    @include contenido-largo(1);
    background-color:rgb(172, 41, 58);
  }
 }
 @include media-breakpoint-up(xs) { 
  .cont6 {
    @include contenido-largo(1);
    background-color:rgb(124, 18, 211);
  }
 }
@include media-breakpoint-up(sm) { 
  .cont2 {
    @include contenido-largo(4);
    background-color: $color-contenido-sm;
  }
 }
@include media-breakpoint-up(md) { 
  .cont3{
    @include contenido-largo(2);
    background-color: chocolate;
  }
 }
 @include media-breakpoint-up(md) { 
  .cont6{
    @include contenido-largo(1);
    background-color: rebeccapurple;
  }
 }
 @include media-breakpoint-up(md) { 
  .cont5{
    @include contenido-largo(6);
    background-color: cyan;
  }
 }
 @include media-breakpoint-up(lg) {
   .cont4 {
     @include contenido-largo(2);
     background-color: $color-contenido-lg; 
   }
 }
 @include media-breakpoint-up(lg) {
  .cont5 {
    @include contenido-largo(6);
    background-color: blanchedalmond; 
  }
}
@include media-breakpoint-up(lg) {
  .cont6 {
    @include contenido-largo(2);
    background-color: $color-contenido-lg; 
  }
}